############
## JavaScript
############

node_modules
.sass-cache
assets/css/main.min.css.map
assets/css/main.min.css

############
## System related
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store
