/* ==========================================================================
   Constants and variables
   ========================================================================== */
$space-xxl: 100px;
$space-xl: 50px;
$space-lg: 30px;
$space-md: 20px;
$space-sm: 10px;
$space-xs: 8px;
$space-xxs: 5px;
$row-margin: $space-xxs; // 5px
$page-spacing: $space-md;
$mt-block-spacing: $row-margin * 4; // 20px

$search-container-height: $space-xl;
$banner-height: $space-xl;
$article-content-container-lg: 700px;
$article-content-container-padding: 15px;
$article-content-container-md: 600px;
$grid-padding: $article-content-container-padding;
$extracontent-width: 150px;
$mt-block-height: $space-xxl * 4; /* 400px */
$front-cover-block-height: $mt-block-height * 1; /* 400px */