/* ==========================================================================
   Mixins
   ========================================================================== */
@mixin border-box() {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
@mixin background-size($style) {
  -webkit-background-size: $style;
     -moz-background-size: $style;
       -o-background-size: $style;
          background-size: $style;
      background-position: center;
}
@mixin absolute-center-bottom() {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
@mixin absolute() {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
@mixin vertical-align-middle() {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@mixin absolute-center-align() {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
@mixin pos-reset() {
  float: none;
  width: auto;
  border: none;
  position: relative;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  
  &:before,
  &:after {
    display: none;
    float: none;
    width: auto;
    border-top: none;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
  }
}