$avatar-dimension: $spacing-xxlarge; /* 48px */

.author-bio {
  @include subtleFont();
  margin: 0 0 $spacing-large;
  padding: 0 0 $spacing-large; /* for the border-bottom effect */
  border-bottom: $border-line-highlight;

  &__archive {
    @include shadowBox();
    @include oneColumnContainer();
    margin: -$avatar-dimension auto $spacing-large;
    padding: $spacing;
    background: white;
    border-bottom: none;
    border-radius: $base-border-radius;
    @media (max-width: $mobile-max) {
      margin: -$avatar-dimension $spacing $spacing-large; /* overriding oneColumnContainer() */
    }
  }
  &__archive &__desc {
    @include excerptFont();
    font-weight: $font-weight-normal;
    margin: $spacing-small 0;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  &__archive &__image {
    margin: 0 $spacing 0 0;
  }

  &__content {
    display: grid;
    grid-template-columns: $avatar-dimension auto 1fr;
    grid-template-rows: $avatar-dimension;
    grid-gap: $spacing;
    grid-column-gap: $spacing;
    @media (max-width: $mobile-max) {
      grid-template-columns: $avatar-dimension 1fr;
      grid-template-rows: $avatar-dimension 1fr;
    }
  }
  &__archive > &__content {
    display: grid;
    grid-template-columns: $avatar-dimension 1fr;
    grid-template-rows: $avatar-dimension 1fr;
  }

  .columnrec__authorlink {
    padding: 0 0 $spacing-small;
    border-bottom: $border-line;
  }
  .avatar {
    border-radius: $base-border-radius;
  }
  .secondary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: $mobile-max) {
      grid-row: 2/3;
      grid-column: 1/3;
    }
  }
  .tags {
    align-self: flex-end;
    margin: 0 0 $spacing-small;
    line-height: $line-height-base;
    @media (max-width: $mobile-max) {
      align-self: flex-start;
    }
    a {
      white-space: nowrap;
      margin: 0  $spacing-small 0 0;
      &:last-child {
        margin: 0;
      }
    }
  }
}