$columnrec_image_dimension: 48px;

.widget__content--columnrec {
  grid-gap: $spacing;
}
.columnrec {
  padding: 0 0 $spacing;
  border-bottom: $border-line;
  &:last-child {
    margin: 0 0 $spacing-large;
    border-bottom: none;
  }
}
.columnrec__content {
  display: grid;
  grid-template-columns: $columnrec_image_dimension 1fr;
  grid-template-rows: $columnrec_image_dimension;
  grid-column-gap: $spacing;
}
.no-css-grid .columnrec__content {
	@include gridFixedLeft($spacing);
}
.columnrec__image {

}
.columnrec__meta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.columnrec__authorlink {
  @include linkBlack();
  @include subtleFont();
  font-size: $font-size-base;
  color: $strong-text-color;
}
.columnrec__authorcount {
  @include subtleFont();
  margin: 0 0 0 $spacing-small;
  color: $subtle-text-color;
}
.columnrec__desc {
  @include linkBlack();
  @include excerptFont();
  @include forceOneLine();
  max-width: 250px;
  @media (max-width: $mobile-max) {
    max-width: calc(100vw - #{$columnrec_image_dimension} - #{$spacing} * 3 );
  }
}
.columnrec__desc__link {
  @include linkBlack();
  @include excerptFont();
}
.columnrec__stats {
  /* this class is only used in entry-intro, not in the sidebar */
  display: flex;
  .feed__meta:first-child {
    margin: 0;
  }
}
