/* Handles both single POST and PAGE */
.entry {
  @include oneColumnContainer();
}

.entry__excerpt {
  margin: 0;
  color: $subtle-text-color;
  padding: 0 0 $spacing-xxlarge;
  border-bottom: $border-line-highlight;
}

.entry__intro {
  @include subtleFont();
  margin: 0 0 $spacing-large;
  padding: 0 0 $spacing-large;
  border-bottom: $border-line-highlight;

  .entry__intro__content {
    display: grid;
    grid-template-columns: 40px 1fr 200px;
    grid-template-rows: 40px;
    grid-column-gap: 16px;
  }
  .avatar {
    border-radius: $base-border-radius;
  }
  .social {
    display: flex;
  }
  .social__link {
    @include linkStyleOverride();
  }
}

@import "./entry-content.scss";
