$avatar-dimension: $spacing-xxlarge; /* 48px */

/* Handles both single POST and PAGE */
.entry {
  @include oneColumnContainer();
}

.entry__excerpt {
  margin: 0;
  color: $subtle-text-color;
  padding: 0 0 $spacing-xxlarge;
  border-bottom: $border-line-highlight;
}

.entry__intro {
  @include subtleFont();
  margin: 0 0 $spacing-large;
  padding: 0 0 $spacing-large;
  border-bottom: $border-line-highlight;

  .entry__intro__content {
    display: grid;
    grid-template-columns: $avatar-dimension auto 1fr;
    grid-template-rows: $avatar-dimension;
    grid-gap: $spacing;
    grid-column-gap: $spacing;
    @media (max-width: $mobile-max) {
      grid-template-columns: $avatar-dimension 1fr;
      grid-template-rows: $avatar-dimension 1fr;
    }
  }
  .columnrec__authorlink {
    padding: 0 0 $spacing-small;
    border-bottom: $border-line;
  }
  .avatar {
    border-radius: $base-border-radius;
  }
  .secondary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: $mobile-max) {
      grid-row: 2/3;
      grid-column: 1/3;
    }
  }
  .tags {
    align-self: flex-end;
    margin: 0 0 $spacing-small;
    @media (max-width: $mobile-max) {
      align-self: flex-start;
    }
    a {
      white-space: nowrap;
      margin: 0  $spacing-small 0 0;
      &:last-child {
        margin: 0;
      }
    }
  }
}


.social {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  @media (max-width: $mobile-max) {
    align-self: flex-start;
  }
}
.social__label {
  @include subtleFont();
  margin: 0 $spacing-small 0 0;
}
.social__link {
  @include linkStyleOverride();
  margin: 0 $spacing 0 0;
  white-space: nowrap;
  transition: all $ease;
  &:last-child {
    margin: 0;
  }
  &:hover {
    background-color: $highlight-color;
    border-radius: 50%;
  }
}

.entry__footer {
  padding: 0 16px;
  .feeds {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
    @media (max-width: $mobile-max) {
      grid-template-columns: 100%;
    }
  }
  .feed:last-child {
    border-bottom: $border-line;
  }
}

@import "./entry-content.scss";
