$partial-content-max-width: 350px;
$content-gutter: $spacing-large;

.single {
  /* top level wrapper on single pages */
  margin: $spacing-xxlarge 0 0;
}

.entry__content {
  margin: 0 0 $spacing-xxlarge;
  font-family: $font-family-content;

  @media (max-width: $mobile-max) {
    font-size: 16px;
  }

  p,
  & > ul,
  & > ol,
  li {
    /* These are all "paragraph level" content */
    @include contentFont();
    @media (max-width: $mobile-max) {
      font-size: 16px;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  h2 {
    font-size: 150%;
  }
  h3 {
    font-size: 150%;
  }
  h4 {
    font-size: 125%;
  }
  h5 {
    font-size: 115%;
  }


  sup > a {
    font-weight: $font-weight-bold;
    padding: 0 $spacing-xsmall;
  }

  aside {
    margin: 0 0 $content-gutter;
    @include excerptFont();
    background: $color-white;
    border: $border-line;
    padding: $content-gutter;

    p {
      @include excerptFont();
      width: 100%;
    }

    p:last-child {
      margin-bottom: 0;
    }

    li {
      @include excerptFont();
      margin: 0 0 $spacing-small;
    }

    h3, h4, h5 {
      margin-top: 0;
    }
  }

  .wp-block-quote:not(.is-large):not(.is-style-large), /* Override Gutenberg block style */
  blockquote {
    border-left: $border-line-blockquote;
    margin: 0 0 $content-gutter;
    margin-left: -$content-gutter;
    padding: 0 0 0 $content-gutter;
    color: $strong-text-color-content;
    display: flex;
    flex-direction: column;
    .big { /* TODO: WTF, we have .big and .large??? */
      @include contentFont();
    }
    @media (max-width: $mobile-max) {
      margin-left: calc(#{$content-gutter} * -0.25);
      padding: 0 0 0 calc(#{$content-gutter} * 0.25);
    }

    p:last-child {
      margin-bottom: 0;
    }

    /* TODO: clean this up.
    footer > cite is custom markup by the authors, 
    whereas WP default has no footer in blockquote,
    the markup is directly blockquote > cite. */
    footer {
      text-align: right;
      margin: $content-gutter 0 0;
      @include excerptFont();
      &:before {
        content: '\2014 \00A0';
      }
      cite {
        font-style: normal;
      }
    }
  }

  blockquote.large {
    @include extraWidthContainer();
    margin-top: $spacing-xxlarge;
    margin-bottom: $spacing-xxlarge;
    padding: 0;
    border-left: 0;
    @media (max-width: $mobile-max) {
      font-size: 16px;
    }
    p {
      text-align: center;
      @include heroFont();
      @media (max-width: $mobile-max) {
        font-size: 125%;
        line-height: $line-height-content;
      }
    }
  }

  h1, h2, h3, h4, h5, h6 {
    margin: $spacing-xxlarge 0 $content-gutter;
    font-family: $font-family-title;
    font-weight: $font-weight-bold;
  }

  ul {
    list-style: square outside;
  }

  ol {
    list-style: decimal outside;
  }

  code {
    background: $block-bg-color;
    padding: 2px $spacing-small;
    border-radius: $base-border-radius;
    margin: 0 $spacing-xsmall;
    font-size: $font-size-small;
    font-family: $font-family-mono;
  }

  em {
  }

  s {
    text-decoration: line-through;
    color: $subtle-text-color;
  }

  b, strong {
    font-weight: $font-weight-bold;
  }

  hr {
    border: $border-line;
    height: 0;
    margin: $spacing-medium auto;
  }

  pre {
    /* Browser specific (not valid) styles to make preformatted text wrap */
    /* https://css-tricks.com/snippets/css/make-pre-text-wrap/ */
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
  }

  figure {
    margin: 0;
    padding: 0;
    margin-top: 0;
    margin-bottom: $content-gutter;
  }
  figure.is-fullwidth {
    display: flex;
    flex-direction: column;
    @include extraWidthContainer();
    figcaption,
    figcaption.alignleft,
    figcaption.alignright {
      text-align: center;
      max-width: 100%;
      margin: $spacing-small 0 0;
      @media (max-width: $mobile-max) { 
        text-align: left;
        margin: 0 auto;
      }
    }
    img {
      display: block;
      margin: 0 auto;
    }
  }
  figcaption {
    @include excerptFont();
    color: $subtle-text-color;
    line-height: 1.5;
  }

  .alignleft {
    float: left;
    margin-right: $content-gutter;
  }

  .alignright {
    float: right;
    margin-left: $content-gutter;
  }

  .alignright,
  .alignleft {
    max-width: $partial-content-max-width;
    position: relative;
    @media (max-width: $mobile-max) {
      float: none;
      margin: 0 auto $content-gutter;
      max-width: 100%;
    }
  }

  figcaption.alignright {
    right: -165px;
    text-align: left;
    position: absolute;
    width: 150px;
    top: 0;
    margin-top: 0;
    @media (max-width: $mobile-max) {
      position: relative;
      margin: calc(#{$content-gutter} / 2) auto 0;
      right: 0;
      width: 100%;
    }
  }

  .text-muted {
    color: $subtle-text-color;
  }

  /* Below are styles to override default Gutenberg block styles */
  .alignwide {
    @include extraWidthContainer();
  }
  .alignfull {
    @include fullpagewidth();
  }
  .wp-block-quote__citation, .wp-block-quote cite, .wp-block-quote footer {
    @include subtleFont();
    color: $strong-text-color-content;
    align-self: flex-end;

    &::before {
      content: '—— ';
    }
  }
}


.entry__copyright {
  margin: 0;
  color: $subtle-text-color;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-family: $font-family-base;

  &__link {
    font-weight: $font-weight-bold;
  }
}
