$feed-gutter-small: $spacing;
$feed-gutter-large: $spacing-large;
$feed-gutter-gigantic: $spacing-gigantic; /* anything next to footer should have $spacing-gigantic */
$feed-border-radius: 8px;

.grid {
  grid-template-columns: 2fr 1fr;
  margin: 0 $spacing;
}
.collection-of-feeds {
  grid-column: 1/2;
  // grid-template-columns: 1fr;
}
.grid,
.collection-of-feeds {
  display: grid;
  grid-column-gap: $feed-gutter-small;
  grid-gap: $feed-gutter-small;
  @media (max-width: $mobile-max) {
    grid-column: unset;
    grid-template-columns: 100%;
  }
}
.feeds {
  margin: 0;
}
.feeds__header {
  /* The header that summarizies to a collection of feed */
  @include subtleFont();
  margin: 0 0 $feed-gutter-small;
  border-bottom: 2px solid $color-brand-primary;
  padding: 0 0 8px;
}




.feed {
  /* The wrapper for a single article (feed item) */
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-column-gap: $feed-gutter-small;
  padding: 0 0 $spacing;
  margin: 0 0 $spacing;
  &:not(:last-child) {
    border-bottom: $border-line;
  }
}
.feed__image {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
}
.feed__content {
  display: flex;
  flex-direction: column;
}
.feed__title {
  /* The anchor tag that wraps around the text */
}
.feed__title__text {
  @include titleFont();
  @include linkStyleOverride();
  margin: 0 0 $spacing-small;
}
.feed__excerpt {
  @include excerptFont();
  flex-grow: 1; /* This is to push the last flex item (metas) to the flex-end */
  margin: 0 0 $spacing-small;
}
.feed__metas {
  /* Wrapper for all meta items that describes a feed item */
  @include subtleFont();
  color: $color-light;
  display: flex;
  justify-content: flex-end;
}
.feed__meta {
  /* Individual meta item that describes a feed item */
  display: flex;
  align-items: center;
  margin: 0 0 0 $spacing;
}
.feed__meta__link {
  @include linkStyleOverride();
  color: $color-light;
}
.feed__meta__icon {
  width: $spacing;
  height: $spacing;
}
.feed__meta__label {
  margin: 0 0 0 $spacing-xsmall;
}