$feed-gutter-small: $spacing;
$feed-gutter-large: $spacing-large;
$feed-gutter-gigantic: $spacing-gigantic; /* anything next to footer should have $spacing-gigantic */
$feed-border-radius: 8px;

.feeds {
  /* The wrapper for a collection of feed */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: $feed-gutter-small;
  grid-gap: $feed-gutter-small;
  margin: 0 $feed-gutter-small;
  @media (max-width: $mobile-max) {  
    grid-template-columns: 100%;
  }
}
.feeds__header {
  /* The header that summarizies to a collection of feed */
  @include subtlefont();
  display: inline-block;
  padding: 0 0 $spacing;
  margin: 0 0 $feed-gutter-large;
  border-bottom: $border-line-bold;
}
.feed {
  /* The wrapper for a single article (feed item) */
  background-color: $color-darkest;
  display: flex;
  flex-direction: column;
  border-radius: $feed-border-radius;
  margin: 0;
  box-shadow: 0px 2px 4px rgba(45, 51, 63, .2);
  padding: 0 0 $feed-gutter-small; /* top doesn't need padding because image cover */
  &:hover {
  }
}
.feed__cover {
  /* The feature image cover that wraps around the title */
  height: $feed-gutter-large * 10;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: flex-end;
  border-radius: $feed-border-radius;
}
.feed__cover__shade {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-image: -webkit-linear-gradient(180deg, rgba(0,0,0,0.01) 5%, rgba(0,0,0,0.95) 100%);
  background-image: -moz-linear-gradient(180deg, rgba(0,0,0,0.01) 5%, rgba(0,0,0,0.95) 100%);
  background-image: linear-gradient(180deg, rgba(0,0,0,0.01) 5%, rgba(0,0,0,0.95) 100%);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.feed__title {
  /* The anchor tag that wraps around the text */
  color: $color-white;
  z-index: 9;
  width: 100%;
}
.feed__title__text {
  @include titlefont();
  margin: $feed-gutter-large;
}
.feed__excerpt {
  color: $color-white;
  font-family: $font-family-content;
  line-height: $line-height-content;
  margin: 0 $feed-gutter-large $feed-gutter-small;
  flex-grow: 1; /* This is to push the last flex item (metas) to the flex-end */
}
.feed__metas {
  @include subtlefont();
  color: $color-white;
  margin: 0 $feed-gutter-large;
}
.feed__metas a {
  /* hate to do this, but must override <a> without classes by the_category */
  @include linkStyleOverride();
}


/* Hompage desktop - two column feeds */
.feeds--home {
  max-width: $container-maxwidth;
  margin: 0 0 $feed-gutter-gigantic; /* Overriding the auto margin */
  display: flex;
}
.feed--home {
  flex: 1 0 50%;
  &:not(:last-child) {
    padding: 0 $feed-gutter-large 0 0;
  }
  @media (max-width: $mobile-max) {
    margin: 0 0 $feed-gutter-gigantic;
  }
}
.feeds__header--home {
  display: block;
}
.feeds__header__link {
  @include linkStyleOverride();
}

/* Hompage mobile - one column feeds */
@media (max-width: $mobile-max) {
  .feeds--home {
    display: block;
  }
  .feed--home {    
    &:not(:last-child) {
      padding: 0;
    }
  }
}