.footer {
  margin: $spacing-gigantic 0 0;
  background-image: url('./img/hero-bg.png');
  height: 500px;
  .widget-area {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .widget {
    /* Gutter; only works with space-between above */
    width:calc(50% - 16px);
    @media (max-width: $mobile-max) {
      width: 100%;
    }
  }
  .widget-title {
    @include subtleFont();
    margin: 0 0 $spacing;
  }
}
.footer__wrapper {
  padding: 0 $spacing;
}
.footer__content {
  padding: $spacing-xlarge 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media (max-width: $mobile-max) {
    grid-template-columns: 1fr;
  }
}
.footer__content__intro__name {
  @include titleFont();
  color: $color-white;
  margin-top: 0;
}
.footer__content__widgets {
  background: gray;
}
.footer__content__intro__summary,
.footer__content__copyright {
  @include excerptFont();
  color: $color-white;
}