.header {
  /* The very top level container for everything about header */
  @include subtleFont();
  margin: 0 0 $spacing-large;
}

.header__search {
  height: 20px;
  width: 20px;
  // position: absolute;
  // right: $spacing;
  // top: 13px; /* specified by design */
}

.search-icon {
  fill: $color-white;
  &:hover {
    fill: $highlight-color;
    transition: fill $ease;
  }
}

.header--toplinks {
  background-color: $color-darkest;
  margin: 0;
  padding: $spacing-small 0;

  .header__wrapper {
    padding: 0;
  }
}

.header__toolbar__item {
  @include subtleFont();
  color: $color-white;
  display: inline-block;
  margin: $spacing-small;
  white-space: nowrap;

  &:first-child {
    margin-left: $spacing;
  }
}

.header__wrapper {
  /* The next top level class wrapper inside container */
  display: flex;
  overflow-x: scroll;
  padding: $spacing;
  position: relative;
}

.header__title {
  white-space: nowrap;
  margin: 0;
  @include subtleFont();
  color: $color-white;
}

.header__description {
  display: none; /* TODO: accommodate this later. */
}

.header__nav {
  .menu {
    display: flex;
    overflow-x: scroll;
    margin: 0 $spacing;
    @media (max-width: $mobile-max) {
      margin: 0 0 0 $spacing;
    }
  }

  .menu-item {
    display: inline-block;
    white-space: nowrap; /* force text on one line */
    a {
      margin: 0 0 0 $spacing;
      @include linkBlack();
      color: $color-white;
      @media (max-width: $mobile-max) {
        margin: 0 $spacing 0 0;
      }
    }
  }
  .menu-item:first-child {
    a {
      margin: 0; /* remove left margin on desktop */
      @media (max-width: $mobile-max) {
        margin: 0 $spacing 0 0; /* restore normal margin on mobile */
      }
    }
  }
}