.header {
  /* The very top level container for everything */
  @include subtlefont();
  margin: 0 0 $spacing-large;
}

.header--toolbar {
  background-color: $color-darkest;
  margin: 0;

  .header__wrapper {
    padding: 0;
  }
}

.header__toolbar__item {
  font-size: 12px;
  color: $color-white;
  display: inline-block;
  margin: $spacing-xsmall $spacing-small;

  &:first-child {
    margin-left: $spacing;
  }
}

.header__wrapper {
  /* The next top level class wrapper inside container */
  display: flex;
  padding: $spacing;
}

.header__title {
  margin: 0;
  color: $color-white;
  font-family: $font-family-logo;
  font-weight: $font-weight-bold;
}

.header__description {
  display: none; /* TODO: accommodate this later. */
}

.header__nav {
  .menu {
    // TODO: fix mobile, this CSS is messing up the page width
    // @media (max-width: $mobile-max) {
    //   display: flex;
    //   overflow: scroll;
    // }
  }

  .menu-item {
    display: inline-block;
    @media (max-width: $mobile-max) {
      white-space: nowrap; /* force text on one line */
    }
    a {
      margin: 0 0 0 $spacing-medium;
      @include linkStyleOverride();
      color: $color-white;
      @media (max-width: $mobile-max) {
        margin: 0 $spacing-medium 0 0;
      }
    }
  }
}