.hero {
  margin: 0 0 $spacing-gigantic;
}


.hero--page {
  margin: 0 $spacing $spacing-large;
}
.feed__cover--hero {
  height: $feed-gutter-large * 20; /* 640px */
  padding: 0;

  .feed__cover__content {
    z-index: 9;
    max-width: $onecolumn-maxwidth;
    margin: 0 auto;
  }
  .feed__title {
    color: $color-white;
  }
  .feed__title__text {
    font-size: 38px;
    line-height: 1.25;
    color: $color-white;
    margin: $spacing-large 0;
  }
}

.hero--oops {
}

.hero--entry {
  margin: 0 0 $spacing-xxlarge;
}

.hero--home {
}

.hero--discussion {
  margin: 0 0 $spacing-xxlarge;
}

.hero__title {
  font-family: $font-family-title;
  font-size: $font-size-hero;
  line-height: $line-height-hero;
  margin: 0 0 $spacing-small;
}

.hero__content {
  font-size: $font-size-hero;
  line-height: $line-height-hero;
  margin: 0;
  width: 50%;
  @media (max-width: $mobile-max) {
    width: 100%;
  }
}

.hero__s {
  color: $subtle-text-color;

}
.hero__link {
  @include linkStyleOverride();
}
