.hero {
  margin: 0 0 $spacing-gigantic;
}



.hero--discussion {
  margin: 0 0 $spacing-xxlarge;
}



.hero--content {
  box-shadow: $box-shadow;
  border-radius: $base-border-radius;
  height: $spacing-large * 20; /* 640px */
  margin: 0 $spacing $spacing-large;
  @media (max-width: $mobile-max) {
    height: $spacing-large * 10; /* 320px */
  }
  .hero__cover__content {
    width: $onecolumn-maxwidth;
    margin: 0 auto $spacing-large;
    @media (max-width: $mobile-max) {
      width: 100%;
      margin: 0 $spacing;
    }
  }
  .hero__title__text {
    @media (max-width: $mobile-max) {    
      @include titleFont();
      margin: $spacing 0;
    }
  }
}



.heroes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: $spacing;
  grid-gap: $spacing;
  margin: 0 $spacing $spacing-xxlarge;
  @media (max-width: $mobile-max) {
    grid-column: unset;
    grid-template-columns: 100%;
  }
}
.hero--home {
  box-shadow: $box-shadow;
  border-radius: $base-border-radius;
  grid-column: 1/3;
  margin: 0;
  height: $spacing-large * 10; /* 320px */
  @media (max-width: $mobile-max) {  
    grid-column: unset;
  }
  .hero__cover__content {
    width: 100%;
  }
  .hero__title__text {
    margin: $spacing $spacing $spacing-small;
    @include titleFont();
  }
  .hero__excerpt {
    margin: 0 $spacing $spacing;
  }
}
.latest {
  box-shadow: $box-shadow;
  border-radius: $base-border-radius;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: $spacing;
  .hero--home {
    height: auto; /* so that they can split the parent height */
    @media (max-width: $mobile-max) {
      height: $spacing-large * 5; /* 160px */
      grid-column: unset;
    }
  }
  .hero__excerpt {
    @include forceOneLine();
  }

}



.hero__cover,
.hero__cover__shade {
  border-radius: $base-border-radius;
}
.hero__cover {
  /* .hero__cover--hero is at hero.scss */
  /* The feature image cover that wraps around the title */
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: flex-end;
  // border-radius: $feed-border-radius;
}
.hero__cover__shade {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.hero__cover__shade--black {
  background-image: -webkit-linear-gradient(180deg, rgba(0,0,0,0) 5%, rgba(0,0,0,1) 100%);
  background-image: -moz-linear-gradient(180deg, rgba(0,0,0,0) 5%, rgba(0,0,0,1) 100%);
  background-image: linear-gradient(180deg, rgba(0,0,0,0) 5%, rgba(0,0,0,1) 100%);
}
.hero__cover__shade--white {
  background-image: -webkit-linear-gradient(180deg, rgba(0,0,0,0) 5%, rgba(255,255,255,1) 100%);
  background-image: -moz-linear-gradient(180deg, rgba(0,0,0,0) 5%, rgba(255,255,255,1) 100%);
  background-image: linear-gradient(180deg, rgba(0,0,0,0) 5%, rgba(255,255,255,1) 100%);
}
.hero__cover--hero {
  padding: 0;
  height: 100%;
}
.hero__cover__content {
  z-index: 9;
  max-width: $onecolumn-maxwidth;
  margin: 0 auto;
}
.hero__title__text {
  @include heroFont();
  color: $color-white;
  margin: $spacing-large 0;
  &:hover {
    color: $color-brand-primary;
  }
}
.hero__excerpt {
  @include excerptFont();
  color: $color-white;
  margin: $spacing 0;
}