$sidebar-gutter: $spacing-large;

.sidebar {

}
.widget {
  /* widget is a section inside a sidebar */
  // margin: 0 0 $sidebar-gutter;
}
.widget__content {
  display: grid;
}
.special {
  border-radius: $base-border-radius;
  background-color: $base-text-color;
  background-size: cover;
  background-position: center;
  text-align: center;
  margin: 0 0 $sidebar-gutter;
  padding: $spacing;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  @media (max-width: $mobile-max) {
    height: 50vw;
  }
  &:before {
    /* Overlay for the special */
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;
    opacity: .6; 
  }
}
.special__link {
  @include titleFont();
  @include linkWhite();
  z-index: 100;
}
.special__link__desc {
  @include excerptFont();
  color: $color-white;
  margin: $spacing 0 0;
}