.sidebar {

}
.widget {
  /* widget is a section inside a sidebar */
}
.widget__content {
  display: grid;
  grid-gap: $spacing;
}
.sidebar__block {
  background: yellowgreen; 
  height: 166px; 
  margin: 0 0 $spacing-large;
  padding: $spacing;
  @media (max-width: $mobile-max) {
    height: auto;
  }
}