$stage-height: 350px;

.stage {
  background-image: url('./img/mt-cover-brand.jpg');
  background-position: center;
  background-size: cover;
  background-color: $highlight-color;
  height: $stage-height;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  z-index: -1;
}
.stage--relative {
  @include fullpagewidth();
  height: calc(#{$stage-height} * 0.5);
  margin-bottom: $spacing-large;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stage--author {
  @extend .stage--relative;
  height: $stage-height;
  margin-bottom: 0; /* overriding .stage--relative */
}
.stage__heading {
  @include heroFont();
  color: $color-white;
  text-align: center;
  margin: 0;
}
.stage__heading__desc,
.stage__heading__avatar .avatar {
  border-radius: $base-border-radius;
  margin: $spacing;
  @include excerptFont();
  color: $color-white;
}