.stage {
  background-image: url('./img/mt-cover-brand.jpg');
  background-position: center;
  background-size: cover;
  background-color: $highlight-color;
  height: 400px;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  z-index: -1;
}
.stage--relative {
  @include fullpagewidth();
  height: 200px;
  margin-top: -77px; /* 45px masthead height + 32px margin-bttom */
  margin-bottom: $spacing-large;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stage--author {
  height: 400px;
}
.stage-heading {
  @include heroFont();
  color: $color-white;
  text-align: center;
  margin: 0;
}