.stage {
  background-image: url('./img/mt-cover-brand.jpg');
  background-position: center;
  background-size: cover;
  background-color: $highlight-color;
  height: 400px;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  z-index: -1;
}


