// Breakpoints
/* NEED - The dividing breakpoint between mobile & desktop */
$mobile-max: 959px;
// Usage example
@media (max-width: $mobile-max) {}

/* NICE TO HAVE - Other more specific breakpoints */
$tablet-max: 767px;
$nokia-max: 374px;