// Greys - the colors should not be used outside of this file
$color-white:        #FFFFFF;
$color-lightest-gray: #F5F5F5;
$color-lighter-gray:   #E8E8E8;
$color-light-gray:     #DBDBDB;
$color-mid-gray:     #CECECE;
$color-dark-gray:    #878787;
$color-comfort-gray: #FAF5F5; /* slight red tint; not used */
$color-light:        #999;
$color-medium:       #777;
$color-dark:         #333;
$color-darker:       #000;
$color-darkest:      #000;


// Shadows
$box-shadow: 0px 2px 4px rgba(45, 51, 63, .3);


// Brand colors
$color-brand-primary: #E84141; /* CMYK 0%, 72%, 72%, 9% */
$color-brand-darkest: #5c1a1a; /* CMYK 0%, 72%, 72%, 64% */
$color-brand-meta: $color-light; /* For all the meta components */


// Text colors
$base-text-color: $color-darkest;
$subtle-text-color: $color-medium;
$strong-text-color: $color-darkest;
$strong-text-color-content: $color-brand-darkest; /* only used for quotes */


// Non-text colors
$page-bg-color: $color-lightest-gray;
$block-bg-color: $color-lighter-gray;
$highlight-color: $color-brand-primary;



// transition
$ease: 0.5s ease;