// Typography - sizes and heights
$font-size-base: 16px;
$font-size-tiny: 14px;
$font-size-content: 18px;
$font-size-title: 28px;
$font-size-hero: $font-size-title;

$line-height-base: 1.5;
$line-height-content: 1.7;
$line-height-title: 1.3;
$line-height-hero: 1.3;

// Typography - fonts
$font-family-base: "Roboto", "Hiragino Sans GB", "冬青黑", "Microsoft YaHei", "微软雅黑", "SimSun", "宋体",  sans-serif;
$font-family-title: $font-family-base;
$font-family-logo: $font-family-base;
$font-family-content: "Noto Serif", "Hiragino Sans GB", "冬青黑", "Microsoft YaHei", "微软雅黑", "SimSun", "宋体", serif;
$font-family-mono: monospace;

// Typography - weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;


// Provide site-wide "hero font" style (used in hero item)
@mixin herofont() {
  font-family: $font-family-title;
  font-size: $font-size-hero;
  font-weight: $font-weight-bold;
  line-height: $line-height-hero;
}

// Provide site-wide "title font" style (used in feed item)
@mixin titlefont() {
  font-family: $font-family-title;
  font-size: $font-size-content;
  line-height: $line-height-title;
  font-weight: $font-weight-normal;
}

// Provide site-wide "excerpt font" style
@mixin excerptfont() {
  font-family: $font-family-content;
  font-size: 13px; /* testing new typography */
  line-height: $line-height-content;
  color: $subtle-text-color;
}

// Provide site-wide "subtle font" style
@mixin subtlefont() {
  color: $subtle-text-color;
  text-transform: uppercase;
  font-size: $font-size-tiny;
  font-weight: $font-weight-bold;
}

// Provide site-wide "content font" style
@mixin contentfont() {
  margin: 0 0 $spacing-medium;
  font-size: $font-size-content;
  line-height: $line-height-content;
  font-weight: $font-weight-normal;
  letter-spacing: normal;
  word-wrap: break-word;
  word-break: break-word;
  // https://designforhackers.com/blog/justify-text-html-css/
  text-align: left;
}