/*
mangatalk-twentynineteen mixins.
Everything here can be applied site-wide.
*/



/*
 * Hyperlinks, anchors, buttons
 */
@mixin linkBlack() {
	cursor: pointer;
  color: $strong-text-color;
  transition: color $ease;
  &:hover {
    color: $highlight-color;
  }
}

@mixin linkWhite() {
	cursor: pointer;
  color: $color-white;
  transition: color $ease;
  &:hover {
    color: $color-brand-primary;
  }
}

@mixin buttonPrimary() {
	@include subtleFont();
	border-radius: $base-border-radius;
	background-color: $highlight-color;
	color: $color-white;
	padding: $spacing-small $spacing-small;
	transition: background-color $ease;

	&:hover {
		cursor: pointer;
		background-color: darken( $highlight-color, 30% );
	}
}


/*
 * Box shadows
 */
@mixin shadowBox() {
  box-shadow: $box-shadow;
  border-radius: $base-border-radius;
}



/*
 * Containers
 */
@mixin extraWidthContainer() {
	margin-left: -150px;
	margin-right: -150px;
	max-width: $container-maxwidth;

	@media (max-width: $mobile-max) {
		max-width: 100vw;
		margin-left: 0;
		margin-right: 0;
	}
}

@mixin oneColumnContainer() {
  margin: 0 auto;
  max-width: $onecolumn-maxwidth;
  @media (max-width: $mobile-max) {
    margin: 0 $spacing;
  }
}

@mixin fullpagewidth() {
	/* https://css-tricks.com/full-width-containers-limited-width-parents/#article-header-id-6 */
  position: relative; 
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
}

// Flex container style that forces all elements to be vertically equal
@mixin flexstretch() {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  flex-direction: row;
  align-items: stretch; /* force all elements to be vertically equal! */
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}



/*
 * Text / typography utilities
 */
@mixin forceOneLine() {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 275px;
	@media (max-width: $mobile-max) {
		max-width: calc(100vw - #{$spacing} * 5 );
	}
}