/*
 * MangaTalk archive page layout rules
 */
//.archive-front { /* author cover */
//  margin-bottom: $space-xl;
//}
.author-front {

  .front-cover-content {
    overflow: hidden;
    @media (max-width: $screen-md-min) { // small screen
      margin-top: $front-cover-block-height * 0.15;
    }
    @media (min-width: $screen-md-min) { // medium and large screen
      margin-top: $front-cover-block-height * 0.25;
    }
  }
  .avatar {
    margin: 0 auto $space-lg;
    border-radius: 50%;
  }
  li {
    display: inline-block;
  }
}
.archive-entry-link {
  text-align: center;
  margin: $space-xl auto;
  display: block;
}
.page-header {
  margin-top: $space-xxl;
  margin-bottom: 0;
  padding-bottom: 0;
//  border-bottom: 1px solid $base-text-light-on-dark-bg;
}
.mt-list {
//  margin-bottom: $space-sm;
}
.mt-block {
  height: $mt-block-height;
  margin-top: $row-margin;
  margin-bottom: $row-margin;

  .block-panel {
    position: relative;
    background: transparent;
  }
  
  .block-cover-wrapper {
    height: $mt-block-height;
    backface-visibility: hidden;
    position: relative;
    overflow: hidden;
  }
  .block-cover {
    @include background-size(cover);
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    z-index: 8;
  }
  .block-content {
    height: 100%;
    padding: 0 $row-margin;
    vertical-align: middle;
    z-index: 9;
  }
  .block-header {
    margin: $space-lg $space-lg 0;
    @media (max-width: $screen-md-max) { // small and medium screen
      width: 90%;
      margin: 20% auto;
    }
  }
  .entry-title {
    margin-bottom: $space-md;
  }
  .entry-summary {
    padding-top: $space-md;
    max-height: 50%;
//    -webkit-mask-image: -webkit-gradient(linear, left 70%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    @media (max-width: $screen-md-max) { // small and medium screen
      display: none;
    }
  }
  .entry-meta { //TODO: actually do things with this!
    display: none;
  }
}
.is-inactive {
  opacity: 0.8;
  .block-header {
    margin: $space-xxl $space-lg 0;
    text-align: center;
    @media (max-width: $screen-md-max) { // small and medium screen
      width: 90%;
      margin: 20% auto;
    }
  }
  .entry-title {
    margin-top: ($mt-block-height / 2) - $space-xl; // minus its own first line-height
  }  
  .entry-summary {
    display: none;
  }
}
.pager {
  border-bottom: 1px solid #eee;
  padding-bottom: $space-sm;
  margin-top: 0;
  
  li > a, 
  li > span {
    border-radius: 0px;
    border: none;
    background: transparent;
    padding: 0;
    font-size: $subtext-font-size;
    text-transform: uppercase;
  }
  
}
