/*
 * MangaTalk color variables
 * NOTE: The actual color defs should be copied to bootstrap/variables if duplicate
 * Semantic naming convention: 
 * $mt- is only used internally for raw color definitions
 * $base- is for global applicable variables (not page specific)
 * $[base if global, else pagename]-[context]-[element]-[color/purpose]-[shade/state]
 * Example: $base-container-bg-grey-darker
 * Example: $article-cover-title-brand-faded
 */

/* MangaTalk official color guide, HSB (hue, saturation, brightness) values in the comments
 * Same hue, generating faded, regular and darken: brightness +30%, 0, -30%
 * Generate consistent chroma colors: keep Saturation within +/-25%
 * All global colors ($base-) are defined in this section
 */

/* Light tones */
/* White */
$mt-white: #FFFFFF; // 0, 0, 100%

$base-white: $mt-white;



/* Extra light grey */
$mt-air: #FAFAFA; // 0, 0, 97%

$base-container-bg-extralight: $mt-air;



/* Very light grey */
$mt-steam: #F2F2F2; // 0, 0, 95%

$base-site-bg: $mt-steam;



/* Light grey */
$mt-fog: #CCCCCC; // 0, 0, 80%

$base-text-light-on-dark-bg: $mt-fog;
$base-form-input-placeholder: $mt-fog;
$base-container-bg-light: $mt-fog;
$base-divider-color: $mt-fog;



/* Shades of grey */
/* Medium grey */
$mt-titanite-dust: #999999; // 0, 0, 60%

$base-text-grey-faded: $mt-titanite-dust;
$base-container-bg-grey-medium: $mt-titanite-dust;


/* Dark grey */
$mt-titanite-shard: #595959; // 0, 0, 35%

$base-module-text-grey-normal: $mt-titanite-shard;
$base-container-bg-dark: $mt-titanite-shard;
$base-universal-text-color: $base-module-text-grey-normal;



/* Extra dark grey */
$mt-titanite-chunk: #454545; // 0, 0, 25%

$base-container-bg-darker: $mt-titanite-chunk;



/* Darkest midnight grey */
$mt-titanite-slab: #333333; // 0, 0, 20%

$base-reading-text-color: $mt-titanite-slab;



/* Red */
$base-brand-faded: #FF9393; // 0, 42, 100
$mt-izalith: #E84141; // 0, 72, 91 /* BRAND COLOR!!! */
$base-brand-darker: #a62e2e; // 0, 72, 65

$base-brand-normal: $mt-izalith;
$base-action-normal: $base-brand-normal;
$base-action-faded: $base-brand-faded;
$base-action-darker: $base-brand-darker; // 0, 72, 65



/* Blue */
$base-contrast-faded: #6FC0C0; 
$mt-aria: #278b8b; // 180, 72, 55
$base-contrast-darker: #066161;

$base-contrast-faded: $base-contrast-faded;
$base-contrast-normal: $mt-aria;
$base-contrast-darker: $base-contrast-darker;

$base-info-faded: $base-contrast-faded;
$base-info-normal: $base-contrast-normal;
$base-info-darker: $base-contrast-darker;



/* Yellow */
$mt-xanthous: #fcad0d; // 40, 95, 99 (+40, +20%, same B)

$base-complimentary-normal: $mt-xanthous;
$base-warning-normal: $base-complimentary-normal;



/* Green */
$mt-plummed: #9dd962; // 90, 55, 85 (+90, -20%, -8%)

$base-sucess-normal: $mt-plummed;
$base-friendly-normal: $base-sucess-normal;



/* Brown */
$mt-tamriel: #bfb26f; // 50, 42, 75
$base-netural-normal: $mt-tamriel;


/* Purple */
$mt-lamperouge: #732057; // 320, 72, 45
$base-link-color-visited: $mt-lamperouge;




/* No reference to $mt-* after this point! */

/* Contrast color for bg-ed containers */
$contrast-color-on-dark-bg: $base-white;
$contrast-color-on-image-bg: $base-white;
$contrast-color-on-dark-bg-focused: darken($contrast-color-on-dark-bg, 25%);
$contrast-color-on-image-bg-focused: darken($contrast-color-on-dark-bg, 25%);

/* Bootstrap overrides - brand */
$brand-primary:         $base-brand-normal;
$brand-success:         $base-sucess-normal;
$brand-info:            $base-info-normal;
$brand-warning:         $base-warning-normal;
$brand-danger:          $base-action-normal;

/* Bootstrap overrides - base */
$text-color: $base-universal-text-color;
$loud-color: $contrast-color-on-dark-bg;
$quiet-color: $base-text-grey-faded;

/* Bootstrap overrides - link */
$link-color: $base-brand-normal;
$link-hover-color: saturate($link-color, 20%);
$link-visited-color: $base-link-color-visited;


/* Tints, transparencies */
$white-tint: rgba(255, 255, 255, 0.4);
$grey-tint-lighter: rgba(0, 0, 0, 0.2);
$grey-tint-normal: rgba(0, 0, 0, 0.4);
$grey-tint-darker: rgba(0, 0, 0, 0.6);
$red-tint: rgba(255, 0, 0, 0.4);


/* Mixins */
@mixin gradient($from-color, $to-color) {
    background-color: mix($from-color, $to-color); /* Fallback */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from-color), to($to-color));
    background-image: -webkit-linear-gradient(top, $from-color, $to-color); 
    background-image:    -moz-linear-gradient(top, $from-color, $to-color);
    background-image:     -ms-linear-gradient(top, $from-color, $to-color);
    background-image:      -o-linear-gradient(top, $from-color, $to-color);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$from-color}', EndColorStr='#{$to-color}')";
}
@mixin opacity-transition() {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}


/*
 * MangaTalk color rules
 */
body {
  background-color: $base-site-bg;
  color: $base-universal-text-color;
}
a {
  color: $base-brand-normal;

  &:hover,
  &:focus {
    color: $base-brand-darker;
  }
}
.cover-image,
.block-cover {
  background-color: $base-container-bg-light;
}


/* Banner nav */
.mt-banner.is-immersive { // default state
  background-color: transparent;
  background-image: url('http://i.imgur.com/JsQrMdo.png');
  background-repeat: repeat-x;
  background-position: 0 50%; /* the smaller this amount is the darker it gets */
  border-color: transparent;
  color: $contrast-color-on-image-bg;
  
  &:hover {
    background-color: $grey-tint-normal;
    background-image: none;
  }
  .navbar-toggle .icon-bar { // responsive toggle button
    background-color: $base-white;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form { // override Bootstrap's
    border-color: transparent;
  }
  .navbar {
    border: 0px solid transparent;
  }
  .navbar-nav>.open>a, 
  .navbar-nav>.open>a:hover, 
  .navbar-nav>.open>a:focus { // override Bootstrap's
    background-color: $grey-tint-darker;
  }
  .dropdown-menu>li>a:hover, 
  .dropdown-menu>li>a:focus { // override Bootstrap's
    background-color: $grey-tint-darker;
  }
  .navbar-nav > li > a {
    color: $contrast-color-on-image-bg;
  }
  .dropdown-menu > li > a {
    color: $contrast-color-on-image-bg;
  }
  .navbar-brand {
    color: $contrast-color-on-image-bg;
  }
  .dropdown-menu {
    background-color: $grey-tint-normal;
  }
}
.mt-banner.is-normal { // when hovered, and when not on full-width covers
  background-color: $base-white;
  color: $base-module-text-grey-normal;
  
  a {
    color: $base-module-text-grey-normal;
    &:hover, &:focus {
    color: $base-action-normal;
    }
  }
  .navbar-toggle .icon-bar { // responsive toggle button
    background-color: $base-module-text-grey-normal;
  }
  .nav>li>a:hover, .nav>li>a:focus {
    background-color: transparent;
    border-bottom: 3px solid $base-container-bg-light;
  }
  .navbar-nav>.active>a, 
  .navbar-nav>.active>a:hover, 
  .navbar-nav>.active>a:focus { // override Bootstrap's
    color: $base-action-normal;
    background-color: transparent;
    border-bottom: 3px solid $base-action-normal;
  }
  .navbar-nav>.open>a, 
  .navbar-nav>.open>a:hover, 
  .navbar-nav>.open>a:focus { // override Bootstrap's
    color: $base-action-normal;
    background-color: transparent;
  }
  .dropdown-menu>.active>a { // override Bootstrap's
    color: $base-action-normal;
    background-color: transparent;
  }
  .dropdown-menu>li>a { // override Bootstrap's
    color: $base-module-text-grey-normal;
  }
  .dropdown-menu>li>a:hover, 
  .dropdown-menu>li>a:focus { // override Bootstrap's
    color: $base-action-normal;
    background-color: transparent;
  }
  
}



/* Homepage cover */
.mt-front.coverActive {
  .cover-image-inner {
    opacity: 1;
    @include opacity-transition();
  }
}
.mt-front.coverInactive {
  .cover-image-inner {
    opacity: 0.8;
    @include opacity-transition();
  }
}
.mt-front {
  .cover-image-inner {
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    
    &:hover {
      background-image: none;
      background-color: $grey-tint-normal;
    }
  }
  .entry-title > a,
  .entry-subtitle > p,
  .author-desc,
  .author-desc > p {
    color: $contrast-color-on-image-bg;
  }
}


/* Generic cover */
.cover-shade { /* TODO: use mixin */
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  opacity: 0.8;
  background-image: -webkit-linear-gradient(180deg, rgba(0,0,0,0.01) 5%, rgba(0,0,0,0.95) 100%);
  background-image: -moz-linear-gradient(180deg, rgba(0,0,0,0.01) 5%, rgba(0,0,0,0.95) 100%);
  background-image: linear-gradient(180deg, rgba(0,0,0,0.01) 5%, rgba(0,0,0,0.95) 100%);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.entry-comment-count {
//  color: $base-text-light-on-dark-bg;
  color: $base-text-grey-faded;
}
.cover-author-name {
  color: $base-text-grey-faded;
}
.author-front {
  .social-button {
    color: $contrast-color-on-image-bg;
  }
  .author-contact-item > a {
//    color: $base-text-grey-faded;
    &:hover, &:focus {
//      color: $base-brand-normal;
    }
  }
}
.article-cover .entry-comment-count > a {
  color: $base-text-grey-faded;
  &:hover, &:focus {
    color: $base-action-normal;
  }
  
}

/* Block */
.mt-block {
  .entry-category {
    background-color: $base-action-normal;
    a {
      color: $contrast-color-on-image-bg;
    }
//    &:hover,
//    &:focus {
//      background-color: $base-action-darker;
//    }
  }
  .entry-summary {
//    border-top: 1px solid $base-white;
  }
  .text-contrast {
    color: $contrast-color-on-image-bg;
  }
  .entry-title a {
    color: $contrast-color-on-image-bg;
  }
}
.article-cover {
  background-color: $base-site-bg;
  .cover-content {
    color: $contrast-color-on-image-bg;
  }
}
.page-content {
  .article-cover {
    background-color: $base-white;
  }
}


/* Entry content */
.entry-content {
  color: $base-reading-text-color;
  aside {
    border: 1px solid #aaa;
    background-color: #fff;
    color: #777;
  }
}


/* Entry meta and extra */
.entry-extra-container {
  background-image: url('../img/smart-grey-texture.jpg');
  background-color: $base-container-bg-extralight;
}
.meta-header {
  color: $base-text-grey-faded;
}
.hentry .meta-header {
//  border-top: 1px solid $base-divider-color;
}
.related-article-list {
  .entry-summary {
//    border-top: 1px solid $base-divider-color;
  }
}
.author-info {
  .author-bio {
  //  text-align: center;
    color: $base-text-grey-faded;
  }
}
.entry-meta-spec {
  border-bottom: 1px solid $base-divider-color;
}
.pager > li > a,
.mt-meta-button,
.entry-tags > a,
.social-button {
//  background-color: $base-container-bg-light;
  border: 1px solid $base-container-bg-light;
  color: $base-text-grey-faded;
  &:hover, &:focus, &:active {
    background-color: $base-action-normal;
    border: 1px solid $base-action-normal;
    color: $contrast-color-on-dark-bg;
  }
}

.promo-section {
  border-top: 1px solid $base-divider-color;
}

/* Page & page featurette styles */
.page-content {
  background-color: $base-white;
}
.page-cover-content {
  color: $base-white;
}
.featurette {
}
.featurette-block {
}
.featurette-content {
  background-color: $base-site-bg;
  color: $base-reading-text-color;
}
a.page-intro-link {
  color: $base-white;
}
.page-story {
  .sample-story-title {
    color: $base-reading-text-color;
    &:hover, &:active {
      color: $base-action-normal;
    }
  }
  .sample-story-meta {
    color: $base-reading-text-color;
  }
}

/* 404 */
.oops-subheader,
.oops-explain,
.oops-errorcode {
  color: $base-text-grey-faded;
}


/* Footer */
.mt-footer {
  background-image: url('../img/dark-texture.png');
  background-color: #2b2d2e;  
  color: $contrast-color-on-dark-bg;
  
  .text-muted {
    color: $base-text-grey-faded;
  }
  
  a {
    color: $base-text-grey-faded;
    &:hover {
     color: $contrast-color-on-dark-bg-focused;
    }
  }
  
}


/*
 * MangaTalk color swatches
 */
.mt-swatches {
  display: none;
  margin: 30px 0;
  
  .cb {
    display: block;
    height: 300px;
    border: 1px solid #e5e5e5;
    p {
      font-size: 14px;
      line-height: 1.4;
    }
  }
  .cb-white {
    background-color: $mt-white;
  }
  .cb-air {
    background-color: $mt-air;
  }
  .cb-steam {
    background-color: $mt-steam;
  }
  .cb-fog {
    background-color: $mt-fog;
  }
  .cb-dust {
    background-color: $mt-titanite-dust;
    color: #000;
  }
  .cb-shard {
    background-color: $mt-titanite-shard;
    color: #000;
  }
  .cb-chunk {
    background-color: $mt-titanite-chunk;
    color: #000;
  }
  .cb-slab {
    background-color: $mt-titanite-slab;
    color: #000;
  }
  .cb-brand-f {
    background-color: $base-brand-faded;
  }
  .cb-brand-n {
    background-color: $base-brand-normal;
  }
  .cb-brand-d {
    background-color: $base-brand-darker;
  }
  .cb-contrast-f {
    background-color: $base-contrast-faded;
  }
  .cb-contrast-n {
    background-color: $base-contrast-normal;
  }
  .cb-contrast-d {
    background-color: $base-contrast-darker;
  }
  .cb-y {
    background-color: $mt-xanthous;
  }
  .cb-g {
    background-color: $mt-plummed;
  }
  .cb-b {
    background-color: $mt-tamriel;
  }
  .cb-p {
    background-color: $mt-lamperouge;
  }
  
}