/*
 * MangaTalk color variables
 * NOTE: The actual color defs should be copied to bootstrap/variables if duplicate
 */
$brand-primary:         #ce5333;
$brand-success:         #5cb85c;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$title-color-on-dark-bg: white;
$semitrans-white: rgba(255, 255, 255, 0.5);

$text-color: #333;
$quiet-color: #ccc;
$loud-color: #000;
$contrast-color: #fff;
$heading-color: #111;
$cover-bg-color: #413c48;

$link-visited-color: purple;

/*
 * MangaTalk color rules
 */
body {
  background-color: #f5f5f5;
}
a {
  color: $link-color;

  &:hover,
  &:focus {
    color: $link-hover-color;
  }
}
.cover-image,
.block-cover {
  background-color: $cover-bg-color;
}
.is-darkBackgrounded {
  
}
.text-contrast {
  color: $contrast-color;
//  text-rendering: optimizelegibility;
}
.mt-banner {
  background-color: $semitrans-white;
  .dropdown-menu {
    background-color: $semitrans-white;
  }
}
.article-cover {
  background-color: $gray-darker;
  .cover-content {
    color: $title-color-on-dark-bg;
  }
}
.mt-block {
  .block-content {
    background-color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.4);
    
    .entry-title a {
      color: $contrast-color;
    }
  }
}
