/*
 * MangaTalk color variables
 * NOTE: The actual color defs should be copied to bootstrap/variables if duplicate
 */
$brand-primary:         #ce5333;
$brand-success:         #5cb85c;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$body-bg-color: #f5f5f5;
$title-color-on-dark-bg: white;
$white-tint: rgba(255, 255, 255, 0.4);
$grey-tint: rgba(0, 0, 0, 0.4);
$grey-tint-lighter: rgba(0, 0, 0, 0.2);
$grey-tint-darker: rgba(0, 0, 0, 0.6);
$red-tint: rgba(255, 0, 0, 0.4);
$text-color: #333;
$quiet-color: #ccc;
$loud-color: #000;
$contrast-color: #fff;
$contrast-color-darker: darken($contrast-color, 15%);

$muted-gery-color: #82888a;
$heading-color: #111;
$cover-bg-color: #413c48;
$link-visited-color: purple;

@mixin gradient($from-color, $to-color) {
    background-color: mix($from-color, $to-color); /* Fallback */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from-color), to($to-color));
    background-image: -webkit-linear-gradient(top, $from-color, $to-color); 
    background-image:    -moz-linear-gradient(top, $from-color, $to-color);
    background-image:     -ms-linear-gradient(top, $from-color, $to-color);
    background-image:      -o-linear-gradient(top, $from-color, $to-color);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$from-color}', EndColorStr='#{$to-color}')";
}


/*
 * MangaTalk color rules
 */
body {
  background-color: $body-bg-color;
}
a {
  color: $link-color;

  &:hover,
  &:focus {
    color: $link-hover-color;
  }
}
.cover-image,
.block-cover {
  background-color: $cover-bg-color;
}
.is-darkBackgrounded {
  
}
.text-contrast {
  color: $contrast-color;
//  text-rendering: optimizelegibility;
}
.text-muted {
  color: $muted-gery-color;
}
.mt-banner {
  background-color: transparent;
  background-image: url('http://i.imgur.com/JsQrMdo.png');
  background-repeat: repeat-x;
  background-position: 0 50%; /* the smaller this amount is the darker it gets */
  border-color: transparent;
  color: $contrast-color;
  font-weight: 700;
  
  &:hover {
    background-color: $grey-tint;
    background-image: none;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form { // override Bootstrap's
    border-color: transparent;
  }
  .navbar {
    border: 0px solid transparent;
  }
  .navbar-nav>.open>a, 
  .navbar-nav>.open>a:hover, 
  .navbar-nav>.open>a:focus { // override Bootstrap's
    background-color: $grey-tint-darker;
  }
  .dropdown-menu>li>a:hover, 
  .dropdown-menu>li>a:focus { // override Bootstrap's
    background-color: $grey-tint-darker;
  }
  .navbar-nav > li > a {
    color: $contrast-color;
  }
  .dropdown-menu > li > a {
    color: $contrast-color;
  }
  .navbar-brand {
    color: $contrast-color;
  }
  .dropdown-menu {
    background-color: $grey-tint;
  }
}
.mt-block {
  .block-content {
    background-color: $grey-tint;
    
    .entry-title a {
      color: $contrast-color;
    }
  }
}
.article-cover {
  background-color: $body-bg-color;
  .cover-content {
    color: $title-color-on-dark-bg;
  }
}
.cover-content-wrapper {
  background-color: $red-tint;
}
.mt-footer {
  background-image: url(http://i.imgur.com/dmiiS4a.png);
  background-color: #2b2d2e;  
  color: $contrast-color;
  
  a {
    color: $contrast-color;
    &:hover {
     color: $contrast-color-darker; 
    }
  }
  
}
