/*
 * MangaTalk global layout variables and mixins
 */
@mixin background-size($style) {
  -webkit-background-size: $style;
     -moz-background-size: $style;
       -o-background-size: $style;
          background-size: $style;
      background-position: center;
}

@mixin pos-reset() {
  float: none;
  width: auto;
  border: none;
  position: relative;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  
  &:before,
  &:after {
    display: none;
    float: none;
    width: auto;
    border-top: none;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
  }
}

$space-xxl: 100px;
$space-xl: 50px;
$space-lg: 30px;
$space-md: 20px;
$space-sm: 10px;
$space-xs: 8px;
$space-xxs: 5px;

$article-content-container-lg: 700px;
$article-content-container-padding: 15px;
$article-content-container-md: 600px;
$extracontent-width: 150px;
$cover-title-pos: 40vh;


/*
 * MangaTalk global layout rules (starts with mt-)
 */
.mt-banner {
  margin-bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.mt-list {
  margin-bottom: $space-xl;
}
.mt-block {
  height: 400px;
  overflow: hidden;
  
  .block-cover {
    @extend .mt-block;
    height: 100%;
  }
}




