/*
 * MangaTalk page layout rules
 */

/* General page styles */
.page-content {
  .divider {
    
  }
}
.page-cover-content {
  margin-top: $front-cover-block-height * 0.4; 
  text-align: center;
}
.page-title {
  margin-bottom: $space-md;
}
.featurette {
  padding: 0px;
//  height: 100vh;
  background-image: url('http://i.imgur.com/WlIMJcw.png');
}
.featurette-inner {
//  height: 100vh;
}
.featurette-content {
  margin-top: 20%;
}
.featurette-image { /* ideal height: 700px, width: 550px */
  margin-bottom: 0px;
}
.featurette-heading {
  font-weight: 300;
  line-height: 1.1;
  letter-spacing: 1px;
  margin-bottom: $space-lg;
}
.lead {
  letter-spacing: 1px;
  line-height: 1.55;  
  a {
    display: block;
    margin-top: $space-md;
    letter-spacing: 0.01rem;
    font-size: $medium-font-size;
    &:after {
      content: "›"; 
      margin-left: $space-sm;
    }
  }
}

/* Specific featurette styles */ 
.feature-content {
  
}
.feature-copyright {
  background-image: none;
}
.feature-typography {
  
}