/*
 * MangaTalk page layout rules
 */
$page-cover-block-height: 500px;

/* General page styles */
.page {
  .main {
    margin-bottom: 0;
  }
}
.page-fullwidth {
  .mt-front {
    .cover-image-inner {
      height: $page-cover-block-height;
      background-image: none;
      background-color: $grey-tint-lighter;
    }
    .article-cover {
      height: $page-cover-block-height;
      .cover-image {
        height: $page-cover-block-height;
        background-image: url('http://i.imgur.com/BTCoxlL.jpg'); 
        background-color: #E84141;
      }
    }
    .entry-subtitle {
      letter-spacing: 0.05rem;
    }
  }
}
.page-content {
  margin-bottom: $space-xl;
  .divider {
    
  }
}
.page-cover-content {
  margin-top: $page-cover-block-height * 0.4; 
  text-align: center;
}
.page-title {
  margin-bottom: $space-md;
}
.featurette {
  padding: 0px;
//  height: 100vh;
}
.featurette-inner {
//  height: 100vh;
}
.featurette-content {
  margin-top: 20%;
}
.featurette-image { /* ideal height: 700px, width: 550px */
  margin-bottom: 0px;
}
.featurette-heading {
  font-weight: 300;
  line-height: 1.1;
  letter-spacing: 1px;
  margin-bottom: $space-lg;
}
.lead {
  letter-spacing: 1px;
  line-height: 1.55;  
}

/* Specific featurette styles */ 
$regular-featurette-margin: $space-xl + $space-md;
.page-about {
  a {
    display: block;
    margin-top: $space-md;
    letter-spacing: 0.01rem;
    font-size: $medium-font-size;
    &:after {
      content: "›"; 
      margin-left: $space-sm;
    }
  }
}
.page-story {
  .featurette-content {
    margin-top: $regular-featurette-margin;
    margin-bottom: $regular-featurette-margin;
  }
  .container {
    width: $article-content-container-lg;
  }
  .featurette-heading {
    text-align: center;
  }
}
.feature-content {
  background-image: none;
}
.feature-story-submit,
.feature-copyright {
  background-image: url('http://i.imgur.com/WlIMJcw.png');
}
.feature-typography {
  background-image: none;
}