/*
 * MangaTalk post page layout rules
 */
.article-cover {
  height: 100vh;
  margin-bottom: $space-xl;
  
  .cover-image {
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    opacity: 1;
//    z-index: 0;
    @include background-size(cover);
    
    &:after {
      content: '';
      position: absolute;
      width: inherit;
      height: inherit;
      top: 0;
      left: 0;
      right: 0;
  //    background: rgba(0, 0, 0, 0.2); // slight shadow / tint
  //    z-index: 1;
    }
  }
  .cover-content {
    margin-top: $cover-title-pos;
    position: relative;
  }
  .article-content-container {
    @media (min-width: $screen-lg-min) { //1200px
      width: $article-content-container-lg + $space-xl * 2;
      max-width: $article-content-container-lg + $space-xl * 2;
    }
  }
}
.cover-content {
  margin-top: $cover-title-pos / 3;
}
.cover-content-wrapper {
  @include absolute-center-align();
  padding: $space-xl;
  top: 20%;                         /* Positioning */
  transform: translate(0, -20%);    /* Positioning */
  @media (min-width: $screen-lg-min) { //1200px
    width: $article-content-container-lg + $space-xl * 2;
  }
  .entry-title {
    @media (max-width: $screen-md-min) {
      font-size: 300%;
    }
  }

}

.avatar {
  border-radius: 50%;
}

.entry-content {
  margin: $space-lg 0;
  img {
    max-width: 100%;
  }
  img,
  figure {
//    margin-top: $space-sm;
    margin-bottom: $space-sm;
    position: relative;
    @media (max-width: $screen-sm-min) {
      max-width: 100%;
      @include pos-reset();
    }
  }
  figcaption {
    @media (max-width: $screen-sm-min) {
//      display: none;
      @include pos-reset();
    }
  }
  figure.is-inside { // default state
    @extend figure;
    max-width: $article-content-container-lg / 2;
    @media (max-width: $screen-sm-min) {
      max-width: 100%;
    }
    
    
    figcaption {
      position: absolute;
      width: $extracontent-width;
      top: 0;
      margin-top: 0;
      
      @media (max-width: $screen-sm-min) {
        @include pos-reset();
      }

      &.alignleft {
        @media (max-width: $screen-sm-min) {
          @include pos-reset();
        }

        @media (min-width: $screen-md-min) {
          left: -($extracontent-width + $article-content-container-padding);
          text-align: right;
          &:before {
            margin-left: 75%;
            width: 25%;
            border-top: 1px solid rgba(0,0,0,0.15);
            display: block;
            content: "";
            margin-bottom: $space-sm;
          }
        }
      }
      &.alignright {
        @media (min-width: $screen-md-min) {
          right: -($extracontent-width + $article-content-container-padding);
          text-align: left;
          &:before {
            margin-right: 75%;
            width: 25%;
            border-top: 1px solid rgba(0,0,0,0.15);
            display: block;
            content: "";
            margin-bottom: $space-sm;
          }
        }
      }
    }
//    figcaption.alignright {
//      position: absolute;
//      right: -($extracontent-width + $article-content-container-padding);
//      width: $extracontent-width;
//      top: 0;
//      text-align: left;
//      margin-top: 0;
//
//      &:before {
//        width: 25%;
//        margin-right: 75%;
//        border-top: 1px solid rgba(0,0,0,0.15);
//        display: block;
//        content: "";
//        margin-bottom: $space-sm;
//        text-align: left;
//      }
//    }
  }
  figure.is-hanging { // half of figure is outside, only support left
    @extend figure;
    @media (max-width: $screen-sm-min) {
      max-width: 100%;
      @include pos-reset();
    }
    @media (min-width: $screen-md-min) {
      max-width: $extracontent-width + $article-content-container-padding + $article-content-container-lg / 2;
      margin-left: -($article-content-container-padding + $extracontent-width);
    }
    
    figcaption {
      @media (min-width: $screen-md-min) {
        margin-left: ($extracontent-width + $article-content-container-padding);        
      }

    }
  }
  figure.is-fullwidth { // ignores content container, DOES NOT SUPPORT ALIGNLEFT!!
    @extend figure;
    margin-bottom: $space-xl;
    @media (max-width: $screen-sm-min) {
      @include pos-reset();
    }
    @media (min-width: $screen-md-min) {
      img {
        max-width: ($extracontent-width + $article-content-container-padding) * 2 + $article-content-container-lg;
      }
      max-width: ($extracontent-width + $article-content-container-padding) * 2 + $article-content-container-lg;
      margin-left: -($article-content-container-padding + $extracontent-width);
      margin-right: -($article-content-container-padding + $extracontent-width);
    }
    figcaption {
      @media (min-width: $screen-md-min) {
        margin-left: ($extracontent-width + $article-content-container-padding);
      }

    }
  }
  img.alignleft,
  figure.alignleft {
    @extend figure;
    @media (max-width: $screen-sm-min) {
      @include pos-reset();
    }
    margin-right: $space-lg;
  }
  img.alignright,
  figure.alignright {
    @extend figure;
    @media (max-width: $screen-sm-min) {
      @include pos-reset();
    }
    margin-left: $space-lg;
  }
}
blockquote.large {
  padding-left: 0;
  border-left: none;
  @media (max-width: $screen-sm-min) {
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: $screen-md-min) {
    margin-left: -($extracontent-width + $article-content-container-padding);
    margin-right: -($extracontent-width + $article-content-container-padding);
    margin-top: $space-xl;
    margin-bottom: $space-xl;
  }

}

.hentry .affix {
  @media (max-width: $screen-md-min) {
    display: none;
  }
  @media (min-width: $screen-lg-min) {
    max-width: $extracontent-width;
    float: right;
    right: 300px;
  
    .nav > li > a {
      display: block;
      padding: 4px 20px;
      font-size: 13px;
      font-weight: 500;
      color: #999;
    }
    .nav > .active > a {
      padding-left: 18px;
      font-weight: 700;
      color: #563d7c;
      background-color: transparent;
      border-left: 2px solid #563d7c;
    }
    .nav > .active > ul {
      display: block;
    }
    .nav .nav {
      display: none;
      padding-bottom: 10px;
    }
  }
}

// Container widths, borrowing Bootstrap's structure
// Set the container width, and override it for fixed navbars in media queries.
.article-content-container {
  @include container-fixed();

  @media (min-width: $screen-sm-min) { //768px
    max-width: $article-content-container-md;
  }
  @media (min-width: $screen-md-min) { //992px
    max-width: $article-content-container-lg;
  }
  @media (min-width: $screen-lg-min) { //1200px
    max-width: $article-content-container-lg;
  }
}