$two-side-content-width: ($extracontent-width + $article-content-container-padding) * 2 + $article-content-container-lg; // 700px
$one-side-content-width: $extracontent-width + $article-content-container-padding + $article-content-container-lg / 2;
$cover-title-height: $base-font-size * 3.33; /* h2 font-size: 333% */

/*
 * MangaTalk post page layout rules
 */

/* Cover styles */
.article-header {
  margin: ($cover-title-height * 2) auto $cover-title-height;
  width: 90%;
  max-width: $two-side-content-width;
  text-align: center;
}
.page {
  .article-header {
//    margin: ($cover-title-height * 2)-$banner-height auto $cover-title-height;
  }
}
.article-cover {
  height: 100vh;
  margin-bottom: $space-xl;
  
  .cover-image {
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    opacity: 1;
//    z-index: 0;
    @include background-size(cover);
    
    &:after {
      content: '';
      position: absolute;
      width: inherit;
      height: inherit;
      top: 0;
      left: 0;
      right: 0;
  //    background: rgba(0, 0, 0, 0.2); // slight shadow / tint
  //    z-index: 1;
    }
  }
  .cover-content {
    margin-top: $cover-title-pos;
    position: relative;
  }
  .article-content-container {
    @media (min-width: $screen-lg-min) { //1200px
      width: $article-content-container-lg + $space-xl * 2;
      max-width: $article-content-container-lg + $space-xl * 2;
    }
  }
  .entry-subtitle {
    @media (max-width: $screen-md-min) { //1200px
      display: none;
    }
  }
}
.cover-content {
  margin-top: $cover-title-pos / 3;
}
.cover-content-wrapper {
  @include absolute-center-align();
  padding: $space-xl;
  top: 20%;                         /* Positioning */
  transform: translate(0, -20%);    /* Positioning */
  @media (min-width: $screen-lg-min) { //1200px
    width: $article-content-container-lg + $space-xl * 2;
  }
  .entry-title {
    @media (max-width: $screen-md-min) {
      font-size: 300%;
    }
  }

}


/* Content styles */
.format-image {
  .entry-title-holder {
    display: none;
  }
  .entry-content {
    margin-top: $space-xxl; 
    img {
      margin-bottom: 0;
    }
  } 
}
.entry-content {
  margin: $space-lg 0 0;
  min-height: $space-xxl;
  img {
    max-width: 100%;
  }
  img,
  figure {
//    margin-top: $space-sm;
    margin-bottom: $space-sm;
    position: relative;
    @media (max-width: $screen-sm-min) {
      max-width: 100%;
      @include pos-reset();
    }
  }
  figcaption {
    @media (max-width: $screen-sm-min) {
//      display: none;
      @include pos-reset();
    }
  }
  figure.is-inside { // default state
    @extend figure;
    max-width: $article-content-container-lg / 2;
    @media (max-width: $screen-sm-min) {
      max-width: 100%;
    }
    
    
    figcaption {
      position: absolute;
      width: $extracontent-width;
      top: 0;
      margin-top: 0;
      
      @media (max-width: $screen-sm-min) {
        @include pos-reset();
      }

      &.alignleft {
        @media (max-width: $screen-sm-min) {
          @include pos-reset();
        }

        @media (min-width: $screen-md-min) {
          left: -($extracontent-width + $article-content-container-padding);
          text-align: right;
          &:before {
            margin-left: 75%;
            width: 25%;
            border-top: 1px solid rgba(0,0,0,0.15);
            display: block;
            content: "";
            margin-bottom: $space-sm;
          }
        }
      }
      &.alignright {
        @media (min-width: $screen-md-min) {
          right: -($extracontent-width + $article-content-container-padding);
          text-align: left;
          &:before {
            margin-right: 75%;
            width: 25%;
            border-top: 1px solid rgba(0,0,0,0.15);
            display: block;
            content: "";
            margin-bottom: $space-sm;
          }
        }
      }
    }
//    figcaption.alignright {
//      position: absolute;
//      right: -($extracontent-width + $article-content-container-padding);
//      width: $extracontent-width;
//      top: 0;
//      text-align: left;
//      margin-top: 0;
//
//      &:before {
//        width: 25%;
//        margin-right: 75%;
//        border-top: 1px solid rgba(0,0,0,0.15);
//        display: block;
//        content: "";
//        margin-bottom: $space-sm;
//        text-align: left;
//      }
//    }
  }
  figure.is-hanging { // half of figure is outside, only support left
    @extend figure;
    @media (max-width: $screen-sm-min) {
      max-width: 100%;
      @include pos-reset();
    }
    @media (min-width: $screen-md-min) {
      max-width: $one-side-content-width;
      margin-left: -($article-content-container-padding + $extracontent-width);
    }
    
    figcaption {
      @media (min-width: $screen-md-min) {
        margin-left: ($extracontent-width + $article-content-container-padding);        
      }

    }
  }
  figure.is-fullwidth { // ignores content container, DOES NOT SUPPORT ALIGNLEFT!!
    @extend figure;
    margin-bottom: $space-md;
    margin-bottom: $space-xl;
    text-align: center;
    @media (max-width: $screen-sm-min) { // small screen
      @include pos-reset();
    }
    @media (min-width: $screen-md-min) { // medium and large screen
      img {
        max-width: $two-side-content-width;
      }
      max-width: $two-side-content-width;
      margin-left: -($article-content-container-padding + $extracontent-width);
      margin-right: -($article-content-container-padding + $extracontent-width);
    }
    figcaption {
      max-width: $article-content-container-lg;
      @media (min-width: $screen-md-min) {
        margin-left: ($extracontent-width + $article-content-container-padding);
      }

    }
  }
  aside {
    margin-bottom: $space-lg; 
  }
  aside.alignleft {
    @media (max-width: $screen-sm-min) { // small screen
      @include pos-reset();
    }
    @media (min-width: $screen-md-min) { // medium and large screen
      width: 50%;
      margin-right: $space-lg;
      margin-left: -($extracontent-width + $article-content-container-padding);
    }
  }
  aside.alignright {
    @media (max-width: $screen-sm-min) { // small screen
      @include pos-reset();
    }
    @media (min-width: $screen-md-min) { // medium and large screen
      width: 50%;
      margin-left: $space-lg;
      margin-right: -($extracontent-width + $article-content-container-padding);
    }
  }
  img.alignleft,
  figure.alignleft {
    @extend figure;
    @media (max-width: $screen-sm-min) {
      @include pos-reset();
    }
    margin-right: $space-lg;
  }
  img.alignright,
  figure.alignright {
    @extend figure;
    @media (max-width: $screen-sm-min) {
      @include pos-reset();
    }
    margin-left: $space-lg;
  }
}
blockquote.large {
  padding-left: 0;
  border-left: none;
  @media (max-width: $screen-sm-min) {
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: $screen-md-min) {
    margin-left: -($extracontent-width + $article-content-container-padding);
    margin-right: -($extracontent-width + $article-content-container-padding);
    margin-top: $space-xl;
    margin-bottom: $space-xl;
  }

}

.hentry .affix {
  @media (max-width: $screen-md-min) {
    display: none;
  }
  @media (min-width: $screen-lg-min) {
    max-width: $extracontent-width;
    float: right;
    right: 300px;
  
    .nav > li > a {
      display: block;
      padding: 4px 20px;
      font-size: 13px;
      font-weight: 500;
      color: #999;
    }
    .nav > .active > a {
      padding-left: 18px;
      font-weight: 700;
      color: #563d7c;
      background-color: transparent;
      border-left: 2px solid #563d7c;
    }
    .nav > .active > ul {
      display: block;
    }
    .nav .nav {
      display: none;
      padding-bottom: 10px;
    }
  }
}

// Container widths, borrowing Bootstrap's structure
// Set the container width, and override it for fixed navbars in media queries.
.article-content-container {
  @include container-fixed();

  @media (min-width: $screen-sm-min) { //768px
    max-width: $article-content-container-md;
  }
  @media (min-width: $screen-md-min) { //992px
    max-width: $article-content-container-lg;
  }
  @media (min-width: $screen-lg-min) { //1200px
    max-width: $article-content-container-lg;
  }
}

.entry-content {
  .comicbits {    
    p {
      font-size: 0px;
      margin-bottom: 0;
//      display: none;
    }    
  }
}
.comicbits.wide {
  max-width: $two-side-content-width;
  margin-left: -($article-content-container-padding + $extracontent-width);
  margin-right: -($article-content-container-padding + $extracontent-width);
}
@mixin max-height-fullscreen() {
  height: auto;
  max-width: 100vw;
}
.carousel-inner {
  @include max-height-fullscreen();
  .item {
    @include max-height-fullscreen();
    &>img, 
    &>a>img {
      @include max-height-fullscreen();
    }
  }
}


/* Meta and extra styles */
#disqus_thread {
  margin: 0 15px;
}
.hentry {
  .meta-header {
    margin-top: $space-xl;  // divider style
    margin-bottom: $space-lg;  // divider style
  }
}

$related-block-height: $mt-block-height * 0.6;
.related-article-list {
  .row {
   margin-left: 0;
   margin-right: 0; 
  }
  .entry-meta,
  .entry-comment-count {
    display: none;
  }
  .mt-block {
    height: $related-block-height;
    .block-cover-wrapper {
      height: $related-block-height;
    }
    .block-header {
      width: 100%;
      margin: 0;
    }
    .entry-summary {
      display: block;
      border-top: none;
      padding-top: 0;
      max-height: 100%;
    }
  }
  .mt-block.is-active {
    .entry-title {
      margin-top: $row-margin;
    }
    .entry-summary {
      display: block;
    }
  }

  .mt-block.is-inactive {
    .block-header {
      margin-top: (($related-block-height / 2) - 15px);
      text-align: center;
    }
    .entry-title {
      margin-top: 0;
    }
    .entry-summary {
      display: none;
    }
  }

}
.entry-meta-container {
  padding-bottom: $space-xl;
}
.avatar {
//  border-radius: 50%;
//  margin: $space-lg auto $space-md;
  max-width: 100%;
  display: block;
}
.author-name {
//  text-align: center;
  font-weight: 700;
  margin-bottom: $space-xs;
}
.article-meta-spec,
.author-bio {
  
}

.entry-extra-container {
  min-height: $space-xxl;
  padding: $space-xl 0;
}