/*
 * MangaTalk type variables
 */
$base-font-family: "TIBch", "Classic Grotesque W01", "Helvetica Neue", Arial, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, sans-serif;
$base-font-size: 18px;
$base-font-weight: 300;

$content-font-size: 22px;
$content-line-height: 1.45;
$content-line-height-px: $content-line-height * $content-font-size;

$medium-font-size: 16px;
$small-font-size: 14px;

$subtext-font-family: $base-font-family;
$subtext-font-size: $base-font-size * 0.75; /* 14px */
$subtext-font-weight: 300;
$subtext-line-height: 1.43;

$fixed-font-family: 'Andale Mono', AndaleMono, monospace;
$fixed-font-size: 15px;
$fixed-line-height: 1.2;

$heading-font-family: $base-font-family;
$heading-font-weight: 700;


/*
 * MangaTalk type styles
 */
body {
  color: $text-color;
  font-size: $base-font-size;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: 1.6;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 { 
  font-family: $heading-font-family; 
  font-weight: $heading-font-weight; 
}
h1, h2,
.h1, .h2 { 
  line-height: 1.1; 
}
h3, h4,
.h3, .h4 { 
  line-height: 1.3; 
}
h1, .h1 { 
  font-size: 400%; /* 18 * 4.0 = 72 */
  letter-spacing: -0.04em; 
}
h2, .h2 { /* entry title, hero text, etc */
  font-size: 333%; /* 18 * 3.3 = 60 */
  letter-spacing: -0.04em; 
}
h3, .h3 { /* chapter title in content */
  font-size: 200%; /* 18 * 2.0 = 36 */
  letter-spacing: -0.02em; 
}
h4, .h4 { /* not sure yet */
  font-size: 166%; /* 18 * 1.6 = 30 */
}
h5, .h5 { 
  font-size: 130%; /* 18 * 1.3 = 23 */
}
.fixed { 
  font-family: $fixed-font-family; 
  font-size: $fixed-font-size; 
  line-height: $fixed-line-height; 
}
.quiet { 
  font-color: $quiet-color; 
}
.loud  { 
  font-color: $loud-color; 
}
.italic { 
  font-style: italic; 
}
.bold { 
  font-weight: 700; 
  @extend .loud; 
}
.block-margins { 
  margin: 1em 0; 
}
.unordered-list { 
  list-style-type: disc; 
}
.ordered-list { 
  list-style: decimal; 
}
figcaption,
figcaption.alignleft,
figcaption.alignright {
  font-family: $subtext-font-family; 
  font-size: $subtext-font-size; 
  line-height: $subtext-line-height; 
  letter-spacing: 0.01rem;
  font-style: italic;
}
blockquote {
  border-left: 3px solid $base-reading-text-color;
  padding-left: $content-font-size;
  font-size: $content-font-size;
  margin-left: -($content-font-size + 3);
  margin-bottom: $content-font-size * $content-line-height;
}
blockquote.large {
  font-weight: 400;
  font-size: 180%; /* 32px */
  line-height: 1.4;
  p {
    font-weight: 400;
    line-height: 1.4;
    font-size: 180%; /* 32px */
  }
  text-align: center;
  padding: 0;
  letter-spacing: 0.01rem;
  transition: margin .1s;
}



/* Content specific styles */
.mt-banner {
  font-size: $medium-font-size;
  font-weight: 700;
  .navbar-brand { // override Bootstrap's
    font-size: $medium-font-size;
  }
  .dropdown-menu>li>a { // override Bootstrap's
    font-size: $medium-font-size;
  }
  .dropdown-menu { // override Bootstrap's
    font-size: $medium-font-size;
  }
}
.mt-front {
  .entry-title {
    font-size: 222%; /* 40px */
  }
  .entry-subtitle {
//    font-size: 138%; /* 25px */
//    font-weight: 300;
  }
}
.page-header {
  .h2 {
    font-weight: 300;
  }
}
.mt-block {
  font-size: $medium-font-size;
}

/* Article page content styles */
.hentry {
  .entry-title {
    font-weight: 700;
  }
  .entry-subtitle > p {
    font-weight: 300;
  }
}
.entry-comment-count {
  .glyphicon {
    top: 7px; // override to align with text
  }
}
.entry-content {
  p {
    font-size: $content-font-size;
//    text-indent: $content-font-size*2;
    line-height: $content-line-height;
    margin-bottom: $content-line-height-px;
    letter-spacing: 0.01rem;
  }
  h2, .h2 {
    margin-top: $space-xl;
  }
  h3, .h3 {
    margin-top: $space-xl;
  }
  h4, .h4 {
    margin-top: $space-lg;
  }
  h5, .h5 {
    margin-top: $space-md;
  }
  h2, h3, h4, h5,
  .h2, .h3, .h4, .h5 {
    margin-bottom: $content-font-size * $content-line-height;
  }
  aside {
    font-size: $subtext-font-size;
    line-height: $subtext-line-height;
    padding: $subtext-font-size * 2;
    & p {
      font-size: $subtext-font-size;
      line-height: $subtext-line-height;
    }
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6 {
      font-size: 130%;
      margin: ($subtext-font-size * $subtext-line-height) 0;
    }
    h1::first-of-type, 
    h2::first-of-type, 
    h3:first-of-type, 
    h4:first-of-type, 
    h5:first-of-type, 
    h6:first-of-type,
    .h1:first-of-type, 
    .h2:first-of-type, 
    .h3:first-of-type, 
    .h4:first-of-type, 
    .h5:first-of-type, 
    .h6:first-of-type {
      margin-top: 0;
    }  
    
  }
}


/* Article page meta / extra styles */
.meta-header {
  font-size: $subtext-font-size;
  padding-top: $subtext-font-size;
  text-transform: uppercase;
  letter-spacing: 0.03rem;
}
.related-article-list {
  .entry-title {
    font-size: 130%;  // h5 style
    margin-top: $base-font-size;
    margin-bottom: $base-font-size * 0.5; // coordinate with .entry-summary
  }
  .entry-summary {
//    padding-top: $base-font-size * 0.5; // coordinate with .entry-title
    font-size: $medium-font-size;
  }
}
.author-info {
//  font-size: $medium-font-size;
  .article-meta-spec {
    text-transform: uppercase;
  }
  .article-meta-spec,
  .author-bio {
  font-size: $subtext-font-size; /* 14px; */
  font-weight: $subtext-font-weight;
  line-height: $subtext-line-height;
  margin-bottom: $subtext-font-size / 2;
  }
}


/* Comment styles */
.comments-root-container {
    font-size: $medium-font-size;
  
}

/* 404 styles */
.oops-header {
}
.oops-subheader {
  margin-bottom: $base-font-size * 2; /* h3 36px */
  line-height: 1;
}
.oops-errorcode {
  text-align: right;
  text-transform: uppercase;
  font-size: $subtext-font-size;
  margin-top: $subtext-font-size / 2;
}
.oops-explain {
  margin-bottom: $base-font-size / 2;
}



/* Footer styles */
.mt-footer {
  font-size: $subtext-font-size; /* 14px; */
  font-weight: $subtext-font-weight;
  line-height: $subtext-line-height;
  .footer-header {
    font-size: $medium-font-size;
  }
}
.mt-brand-capsule {
   h5 {
     line-height: $subtext-line-height;     
   }
}
.signature {
  text-align: center;
  font-weight: 300;
  font-size: $subtext-font-size; /* 14px; */
}








/* 
 * A Web Designer's Typographic Boilerplate
 * Source: http://bit.ly/1C3pej9
 */

// improve readability
body  { 
  text-rendering: optimizeLegibility; 
  -webkit-font-smoothing: subpixel-antialiased!important; 
}

// font smoothing
body,
input,
button  { 
  -webkit-font-smoothing: subpixel-antialiased!important; 
}

// Base font size to browser default (16px)
html    { font: 100%/1.5 Arial, sans-serif; }

// Headings
//h1      { font-size: 2em;       /* 2*16 = 32 */         }
//h2      { font-size: 1.5em;     /* 1.5*16 = 24 */       }
//h3      { font-size: 1.17em;    /* 1.17*16 = 18.72 */   }
//h4      { font-size: 1em;       /* 1*16 = 16 */         }
//h5      { font-size: 0.83em;    /* 0.83*16 = 13.28 */   }
//h6      { font-size: 0.75em;    /* 0.75*16 = 12 */      }

// Paragraphs spacing
//p { line-height: 1.5;
//    margin: 0 0 1em;    }

// Word breaks
p       {   word-break: break-all;
 
            /* Non standard for webkit */
            word-break: break-word;
 
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;          }
            
// Anchor underline removal
a,
a:visited   {   text-decoration: none; }
a:hover     {   text-decoration: none; }

// Anchor states for accessibility http://meyerweb.com/eric/css/tests/css2/sec05-11-03.htm
a:active    {   color: tomato;      }
a:focus     {   border: 1px dotted tomato; }

// Font stylings
strong  {   font-weight: bold;  }
em      {   font-style: italic; }

// Code snippets
code,
pre     {   font-family: monospace, serif;
            font-size: 1em; }
            
// Blockquotes
blockquote {
 font-style: italic; 
 footer {
   text-align: right;
 }
}
//blockquote:before {
// content: "\201C";
// display: inline-block;
// padding-right: .4em;
//}

// Print styles, paint everything to black, remove shadows and stuff
@media print {
    * { background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important; }
    p,
    h2,
    h3 {orphans: 3; /* http://css-tricks.com/almanac/properties/o/orphans/ */
        widows: 3;  /* http://css-tricks.com/almanac/properties/w/widows/ */}
        
    h2,
    h3 {page-break-after: avoid; }
}